<!-- <div class="row">
  <div class="card">
    <h2 class="card-header">Web Development With Python</h2>
    <div class="row card-body">
      <div class="col-sm-6">
        <p class="card-text">
        <h5>Bring the data wrangling and processing power of Python to the web</h5>
        <ul>
          <li>Python Basics</li>
          <li>Flask Basics</li>
          <li>Azure App Service</li>
        </ul>
        <h5>Co-Sponsored with Microsoft Learn Student Ambassadors</h5>
        <ul>
          <li>Get Certified</li>
        </ul>
        </p>
        <a href="/register" class="btn btn-primary">Register for the event</a>
      </div>
      <img class="col-sm-6 img-fluid" src="{{ url_for('static', filename='images/logo.png')}}" alt="sans" id="logo" />
    </div>
    <h3 class="card-header">June 14, 2021 on Microsoft Teams</h3>
  </div>
</div> -->

<div class="row">

    <!-- Cardx - 1  start-->
    <div class="col-md-6 py-2">
  
      <div class="card rounded">
        <h3 class="card-header">Web Development With Python </h3>
        <div class="bg-image image-fluid">
          <img src="{{ url_for('static', filename='images/logo.png')}}" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Introduction to Flask</h5>
          <p class="card-text border-top">
          <h5>Bring the data wrangling and processing power of Python to the web</h5>
          <ul>
            <li>Python Basics</li>
            <li>Flask Basics</li>
            <li>Azure App Service</li>
          </ul>
          <h5>Co-Sponsored with Microsoft Learn Student Ambassadors</h5>
          <ul>
            <li>Get Certified</li>
            <li>Win a Sticker pack</li>
          </ul>
          </p>
          <a href="/register" class="btn btn-primary">Register</a>
          <a href="/about" class="btn btn-primary">Know More</a>
        </div>
        <div class="card-footer">June 15, 2021 on Microsoft Teams</div>
      </div>
  
    </div>
    <!-- Cardx - 1  end-->
  
    <!-- Cardx - 2  start-->
    <div class="col-md-6 py-2">
  
      <div class="card rounded">
        <h3 class="card-header">Web Development With Python </h3>
        <div class="bg-image image-fluid">
          <img src="{{ url_for('static', filename='images/logo.png')}}" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Diving Deep into Flask</h5>
          <p class="card-text border-top">
          <h5>Create a Notes Web-App using Flask</h5>
          <ul>
            <li>Flask SQL Alchemy</li>
            <li>Flask Sessions, Form, Login</li>
            <li>Azure SQL Database</li>
          </ul>
          <h5>Co-Sponsored with Microsoft Learn Student Ambassadors</h5>
          <ul>
            <li>Get Certified</li>
            <li>Win a Sticker pack</li>
          </ul>
          </p>
          <a href="/not" class="btn btn-primary">Register</a>
          <a href="/about" class="btn btn-primary">Know More</a>
        </div>
        <div class="card-footer">July 15, 2021 on Microsoft Teams</div>
      </div>
  
    </div>
    <!-- Cardx - 2  end-->

  </div>
  