<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            padding: 4vh; 
        }
    </style>
    <title>Document</title>
</head>
<body >
    <h1>Congratulations you have sucessfully Registered</h1>
    <h3>
        Thank you {{Uname}} For Registering for this event
    </h3>
    <br>
    <strong>Details</strong>
    <br>
    <strong>Date : </strong>June 15, 2021
    <br>
    <strong>Time : </strong>8:00 pm 
    <br>
    <strong>@ Microsoft Teams</strong>
    <br>
    <strong>Make Sure You Bring lots of Curiosity</strong>
    <br>
    <img src="https://event.whoisansh.tech/static/images/event.jpg"/>
</body>
</html>
