{% extends "register.html" %}
{% block title %}You Have Successfully Registered for the Event{% endblock %}

{% block alert %}
<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
  <strong>Registeration Sucesfull!!!🔥</strong> You Would have received a email with event details
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endblock %}

{% block content %}
<hr>
<div class="container rounded" style="text-align: center;">
  <div class="container-sm wp-back py-2">
    <a href="https://wa.me/?text={{ WP_MSG+' '+MSG_URL }}" target="_blank" id="wp"><i class="fa fa-whatsapp"></i></a>
    <a href="#" id="ln"><i class="fa fa-linkedin"></i></a>
    <a href="https://twitter.com/share?url={{MSG_URL}}&text={{WP_MSG}}" target="_blank" id="tw"><i class="fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/sharer.php?u={{ MSG_URL }}" target="_blank" id="fb"><i class="fa fa-facebook"></i></a>
    <a href="{{url_for('views.download_file')}}" id="dw"><i class="fa fa-download"></i></a>
  </div>
  <br>
  <img class="img-fluid" src="{{ url_for('static', filename='images/event.jpg')}}" alt="sans" id="file" />
</div>
{% endblock %}