{% extends "template.html" %}
{% block title %}You Have Successfully Registered for the Event{% endblock %}

{% block alert %}
<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
  <strong>Registeration Sucesfull!!!🔥</strong> You Would have received a email with event details
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endblock %}

{% block content %}
<hr>
<div class="container rounded" style="text-align: center;">
  <div class="container-sm wp-back">
    <br>
    <a href="https://wa.me/?text=*Introduction to Web Development With Python*
    Sponsored by Microsoft Student Learn Ambassadors
    Register at: event.whoisansh.tech"
    target="_blank">
    <div class="container-sm wp py-2">
      <i class="fa fa-whatsapp" style='font-size:48px;'></i>
    </div>
  </a>
    <br>
  </div>
  <br>
  <img class="img-fluid" src="{{ url_for('static', filename='images/event.jpg')}}" alt="sans" id="logo" />
</div>
{% endblock %}