<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">

    <!-- Style -->
    <style>
        #head {
            font-family: 'Calistoga', cursive;
        }

        body {
            background-color: rgb(255, 255, 126);
        }

        #main-body {
            padding-left: 5%;
            padding-top: 2%;
        }
    </style>
    <!-- Title of the Page  -->
    <title>Web Dev with Python</title>
</head>

<!-- Main body of the File -->

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <img class="navbar-brand" src="https://studentambassadors.microsoft.com/Assets/Badge/LevelAlpha.png"
                alt="MSLA" width="100px">
            <!-- <h1 class="navbar-brand">AV</h1> -->
            <button class="navbar-toggler navbar-dark bg-primary" type="button" data-toggle="collapse"
                data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end ml-auto mr-1" id="navbar">
                <ol class="navbar-nav text-right">
                    <li class="nav-item">
                        <h1><a class="btn btn-outline-primary btn-lg me-2" href="/">Home</a></h1>
                    </li>
                    <li class="nav-item">
                        <h1><a class="btn btn-outline-danger btn-lg me-2" href="/register">Register</a></h1>
                    </li>
                    <li class="nav-item">
                        <h1><a class="btn btn-outline-warning btn-lg me-2" href="/connect">Connect</a></h1>
                    </li>
                </ol>
            </div>
        </div>
    </nav>


    {% block alert %} {% endblock %}

    <div class="container-fluid" id="main-body">
        <h1 class="page-header" id="head">Web Development With Python</h1>
        <h1>{% block title %}{% endblock %}</h1>
    </div>




    <!-- JS Scripts For Bootstrap to run properly -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>