#head {
    font-family: 'Calistoga', cursive;
}

body {
    background: linear-gradient(to right, rgb(251, 255, 3), rgb(84, 219, 21));
    min-height: 100vh;
}
#main-body {
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
}

#nav {
    background: linear-gradient(to right,rgb(0, 217, 255), rgb(17, 0, 255));
}

#home, #register, #contact, #about{
    font-weight: bold;
    text-align: center;
    padding: 2vh;
}


#home{
    color: rgb(204, 255, 0);
    /* border: 0.5vh solid rgb(204, 255, 0); */
}
#home:hover{
    color: black;
    background: rgb(204, 255, 0);
}

#about{
    color: rgb(0, 255, 0);
    /* border: 0.5vh solid rgb(204, 255, 0); */
}
#about:hover{
    color: black;
    background: rgb(0, 255, 0);
}

#register{
    color: rgb(0, 255, 255);
    /* border: 3pt solid rgb(255, 2, 2); */
}
#register:hover{
    color: black;
    background:rgb(0, 255, 255);
}

#contact{
    color: orange;
    /* border: 3pt solid rgb(255, 2, 2); */
}
#contact:hover{
    color: black;
    background: orange;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-body{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(0, 0, 0);
    color: white;
}
ul li{
    list-style-type: "\1F449  ";
    font-size:15pt
}

footer{
    position: sticky;
    top: 100%;
}
.wp-back{
    max-width: 38vh;
    background-color: white;
    border-radius: 2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.wp-back a{
    padding: 1vh;
    font-size: 5vh;
    border-radius: 1vh;
}
#tw{
    background-color: rgb(29, 161, 242);
    color: white;
}
#tw:hover{
    color: rgb(29, 161, 242);
    background-color:white;
}
#ln{
    background-color: rgb(0, 119, 181);
    color: white;
}
#ln:hover{
    color: rgb(0, 119, 181);
    background-color:white;
}
#wp{
    background-color: rgb(37, 211, 102);
    color: white;
}
#wp:hover{
    color: rgb(37, 211, 102);
    background-color:white;
}
#fb{
    background-color:rgb(59, 89, 152);
    color: white;
}
#fb:hover{
    color: rgb(59, 89, 152);
    background-color:white;
}
#dw{
    background-color:rgb(189, 31, 39);
    color: white;
}
#dw:hover{
    color: rgb(189, 31, 39);
    background-color:white;
}
